*
{
    font-family: 'Titillium Web', sans-serif;
}

#dino
{
    width: 60px;
    height: 60px;
    background-color: red; /* dead dino */
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
}
.dinoAnimation
{
    animation: 1s dinowalk infinite;
}
#grid
{
    width:600px;
    height: 200px;
   margin: auto;
   border: 1px solid black;
   position: relative;
   overflow: hidden;
}
.obstacle
{
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    z-index: 5;
}
.back_elem
{
    width: 20px;
    height: 20px;
    background-color: grey;
    position: absolute;
    bottom: 50%;
    z-index: 4;
}
.back_elem2
{
    width: 20px;
    height: 20px;
    background-color: grey;
    position: absolute;
    bottom: 20%;
    z-index: 2;
}
#scoreboard
{
    top: 10px;
    left: 10px;
    position: absolute; 
    
}
#gameOver
{
    top: 10px;
    position: absolute; 
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes dinowalk
{
    0% {
        background-color: green
    }
    50% {
        background-color: sienna;
    }
    100% {
        background-color: green;
    }
}